<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620319448127-knurt8gkkirmvi9iuruad2cibcjhu0mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620319448127-knurt8gkkirmvi9iuruad2cibcjhu0mp</string>
	<key>API_KEY</key>
	<string>AIzaSyAqaeIDr5tIFYNnN01DQ3As8bqYyOI6A5I</string>
	<key>GCM_SENDER_ID</key>
	<string>620319448127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fernando-santana.FirebaseTabla</string>
	<key>PROJECT_ID</key>
	<string>ejemploiostableview</string>
	<key>STORAGE_BUCKET</key>
	<string>ejemploiostableview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620319448127:ios:5c8f6dc9c783ffd08dec8a</string>
</dict>
</plist>